@use 'base/variables' as v;
@use 'base/mixins' as m;

.header{
    background-image: url("../img/bg-pattern-intro.svg"), linear-gradient(135deg, v.$veryLightRed 3%, v.$lightRed 100%);
    background-repeat: no-repeat;
    background-size: 270%, cover;
    background-position: 35% 35%, center;
    position: relative;
    border-bottom-left-radius: 10rem;
    @include m.tablet{
        background-image: url("../img/bg-pattern-intro.svg"), linear-gradient(135deg, v.$veryLightRed 15%, v.$lightRed 100%);
        background-size: 200%, cover;
        background-position: 20% 50%, center;
    }
    &__top{
        padding: 5rem 2rem 0 2rem;
        display: flex;
        justify-content: space-between;  
        align-items: center;  
    }
    &__logo{
        height: 4rem;
        object-fit: contain;
    }
    &__button{
        border: none;
        background-color: transparent;
        &:hover{
            cursor: pointer;
        }
        @include m.tablet{
            display: none;
        }
    }
}