@use 'base/variables' as v;
@use 'base/mixins' as m;

.navigation{
    font-size: 1.6rem;
    display: none;
    &.show{
        @include m.mobile{
            display: flex;
            position: absolute;
            flex-direction: column;
            background-color: v.$white;
            border-radius: .5rem;
            width: 90%;
            top: 12rem;
            left: 5%;
            text-align: center;
            padding: 2rem 0;
            box-shadow: 0 2rem 5rem .5rem darken(v.$grayishBlue,25%);
        }  
        &__categories{
            border-bottom: .1rem solid v.$grayishBlue;
            width: 90%;
            margin: 0 auto;
        }
    } 
    @include m.tablet{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding-left: 4rem;
        width: 100%;
    }
    &__categories{        
        @include m.mobile{
            width: 90%;
            margin: 0 auto;
            padding-bottom: 2rem;
            border-bottom: .1rem solid v.$grayishBlue;    
        }
        @include m.tablet{
            display: flex;
            flex-direction: row;
            align-items: center;
        }
    }
}
.category{
    padding: 1rem 0;
    @include m.tablet{
        display: flex;
        flex-direction: column;
        align-items: center;    
        padding: 0 2rem;
    }
    &__mainLink{
        text-decoration: none;
        color: v.$veryDarkGrayishBlueB;
        font-weight: 700;
        display: flex;
        justify-content: center;
        align-items: center;
        @include m.tablet{
            color: v.$white;
            flex-direction: row;
        }
        &:hover{
            text-decoration: underline;
            cursor: pointer;
        }
        &::after{
            content: "";
            margin-left: .5rem;
            width: 1rem;
            height: 1rem;
            display: inline-block;
            background-image: url("../img/icon-arrow-dark.svg");
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            @include m.tablet{
                background-image: url("../img/icon-arrow-light.svg");
            }
        } 
    }
    &__list{
        display: none;
        list-style: none;
        text-align: center;
        background-color: v.$grayishBlue;
        color: v.$veryDarkGrayishBlueB;
        height: 0;
        padding: 0;
        margin: 1rem;
        border-radius: .5rem;
        overflow: hidden;
        transition: 0.5s;
    }   
    &__item{
        padding: 1rem 0;
        a{
            text-decoration: none;
            color: v.$veryDarkGrayishBlueB;
            &:hover{
                color: v.$veryDarkBlackBlueF;
            }
        }
    }
    &.active{
        .category__mainLink{
            color: darken(v.$veryDarkGrayishBlueB,20%);
            @include m.tablet{
                position: relative;
                color: v.$white;
                text-decoration: underline;
            }
            &::after{
                transform: rotate(180deg);
            }
        }
        .category__list{
            display: flex;
            flex-direction: column;
            height: unset;
            padding: 1rem 0;
            margin: 2rem;
            @include m.tablet{
                background-color: v.$white;
                position: absolute;
                top: 8.5rem;
                align-items: flex-start;
                padding: 1rem 4rem 1rem 2rem;
            }
        }
    }
}
.user{
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    @include m.tablet{
        flex-direction: row;
        padding-top: 0;
    }
    &__link{
        padding: 1rem 0;
        text-decoration: none;
        color: v.$veryDarkGrayishBlueB;
        font-weight: 700;
        &:hover{
            text-decoration: underline;
        }
        @include m.tablet{
            color: v.$white;
        }
        &--sign{
            text-align: center;
            width: 12rem;
            margin: 1rem auto;
            padding: 1rem 2rem;
            border: .2rem solid v.$white;
            border-radius: 2rem;
            background-image: linear-gradient(135deg, v.$veryLightRed 15%, v.$lightRed 100%);
            color: v.$white;
            @include m.tablet{
                background-image: linear-gradient(to bottom, v.$white 0% 100%);
                color: v.$lightRed;
                margin: 0 0 0 2rem;
            }
            &:hover{
                background-image: linear-gradient(to bottom, v.$veryLightRedBG 0% 100%);
                border: .2rem solid v.$veryLightRedBG;
                color: v.$white;
                text-decoration: none;
            }
        }
    }
}
